<link href="/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
<link href="/assets/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/elements/custom-pagination.css" rel="stylesheet" type="text/css" />

<div class="row px-4 d-flex justify-content-between">
    <form class="d-flex col-8 aling-items-center" action="/event/list" method="POST">
        <h5 class="col">Buscar evento</h5>
        <select name="status" class="form-control col">
            <option selected value="ALL">Todos</option>
            <option value="RECIBIDO">RECIBIDOS</option>
            <option value="APROVADO">APROVADOS</option>
            <option value="FINALIZADO">FINALIZADOS</option>
            <option value="CANCELADO">CANCELADOS</option>
        </select>
        <input type="date" class="form-control col" name="date" />
        <input type="submit" class="btn btn-primary" value="buscar" />
    </form>


    <div class="col-4">
        <a href="/event" class="bg-primary px-3 py-1 rounded mx-3">
            <i class="bi bi-box-arrow-left"></i>
            volver
        </a>
        <a href="/event/create" class="bg-primary px-3 py-1 rounded mx-3">
            <i class="bi bi-calendar-plus"></i>
            crear
        </a>
    </div>



    <div class="mt-3 col-12">
        {{#if list}}

            <div class="table-responsive">
                <table class="table table-hover table-light table-bordered mb-4">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Responsable</th>
                            <th></th>
                        </tr> 
                    </thead>
                    <tbody>
                        {{#each list}}
                        <tr>
                            <td>{{this.admin_status}}</td>
                            <td>{{this.event_name}}</td>
                            <td>{{this.admin_date}}</td>
                            <td>{{this.fullname}}</td>
                            <td>
                                <a href="/event/{{this.eventId}}/update" class="bi bi-eye-fill lead btn btn-primary"></a>
                            </td>
                        </tr> 
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-6">
                    <span class="h6">{{nowTotal}}</span>
                </div>

                <div class="paginating-container pagination-default col-5">
                    <ul class="pagination">
                        {{#if nowPathOne}}
                            <li class="prev"><a href="{{previousPath}}">anterior</a></li>
                        {{/if}}
                            <li class=""><span class="px-5">pagina actual {{nowPath}}</span></li>
                        {{#if nowPathEnd}}
                            <li class="next"><a href="{{nextPath}}">siguiente</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
            

        {{else}}    

            <div>
                no hay eventos
            </div>

        {{/if}}
    </div>
</div>

