
<main class="p-5 px-10">
    <h2 class="w-full text-center text-2xl text-light text-gray-700">Avances del pago</h2>

    <form method="POST" action="/event/update/aporte/{{event._id}}" class="my-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
        <label class="grid">
            <span>Monto (numero)</span>
            <input type="number" value="{{event.admin_cancelation.mount_total}}" name="mount_total" class="px-5 py-2 rounded-md outline-none" />
        </label>
        <label class="grid">
            <span>Monto (texto)</span>
            <input type="text" value="{{event.admin_cancelation.description}}" name="description" class="px-5 py-2 rounded-md outline-none" />
        </label>
        {{>inputSubmit}}
    </form>

    <div class="">
        {{#if arancel}}
            pago por arancel
        {{/if}}
        {{#if aporte}}
            pago por aporte
        {{/if}}
        {{#if apoyo}}
            pago por apoyo
        {{/if}}
    </div>

    <form method="POST" action="/event/update/aporte/{{event._id}}/avances" class="my-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
        <label class="grid">
            <span>Fecha</span>
            <input type="datetime-local" value="{{event.admin_cancelation.mount_cancelation.date}}" name="date" class="px-5 py-2 rounded-md outline-none" />
        </label>
        <label class="grid">
            <span>Código</span>
            <input type="text" value="{{event.admin_cancelation.mount_cancelation.code}}" name="code" class="px-5 py-2 rounded-md outline-none" />
        </label>
        <label class="grid">
            <span>Monto (describa el ingreso)</span>
            <input type="text" value="{{event.admin_cancelation.mount_cancelation.mount}}" name="mount" class="px-5 py-2 rounded-md outline-none" />
        </label>
        <label class="grid">
            <span>Porcentaje</span>
            <input type="text" value="{{event.admin_cancelation.mount_cancelation.percentage}}" name="percentage" class="px-5 py-2 rounded-md outline-none" />
        </label>
        {{>inputSubmit}}
    </form>

    <table class="w-full">
        {{#each event.admin_cancelation.mount_cancelation}}
            <tr class="w-full">
                <td class="px-3 py-2 bg-gray-100 border border-black text-center">{{this.code}}</td>
                <td class="px-3 py-2 bg-gray-100 border border-black text-center">{{this.date}}</td>
                <td class="px-3 py-2 bg-gray-100 border border-black text-center">{{this.mount}}</td>
                <td class="px-3 py-2 bg-gray-100 border border-black text-center">{{this.percentage}}%</td>
            </tr>
        {{/each}}
    </table>
</main>
