<link href="/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />

<style>
    .card-fleting {
        flex: 1;
        transition: all .4s ease-out;
    }
    .card-fleting:hover {
        transform: translateY(-5px);
        z-index: 100;
    }
</style>

<div class="container">
    <div class="row layout-top-spacing">

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-table-one">
                <div class="widget-heading">
                    <h5 class="">Eventos ({{eventsStatus.all}})</h5>
                </div>

                <div class="widget-content">
                    {{#Dashboard1 "Recibidos" eventsStatus.recibido}}
                        {{this}}
                    {{/Dashboard1}}
                    {{#Dashboard1 "Aprobados" eventsStatus.aprovado}}
                        {{this}}
                    {{/Dashboard1}}
                    {{#Dashboard1 "Cancelados" eventsStatus.cancelado}}
                        {{this}}
                    {{/Dashboard1}}
                    {{#Dashboard1 "Finalizados" eventsStatus.finalizado}}
                        {{this}}
                    {{/Dashboard1}}
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 container">
            <div class="d-flex flex-column">
                {{#each cardsCount}}
                    <div class="layout-spacing card-fleting">
                        <div class="card">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <span class="card-title text-sm h6" style="font-weight: 900">{{this.label}}</span>
                                <a href="{{this.path}}" class="h6 px-3 py-1 btn btn-primary">{{this.count}}</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-chart-three">
                <div class="widget-heading">
                    <div class="">
                        <h5 class="">Estadisticas eventos</h5>
                    </div>

                    <div class="" id="form-for-year">
                        <select id="select-year-search" class="form-control  basic"></select>
                    </div>

                    {{!-- <div class="dropdown  custom-dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="uniqueVisitors" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="uniqueVisitors">
                            <a class="dropdown-item" href="javascript:void(0);">View</a>
                            <a class="dropdown-item" href="javascript:void(0);">Update</a>
                            <a class="dropdown-item" href="javascript:void(0);">Download</a>
                        </div>
                    </div> --}}
                </div>
                <div class="widget-content">
                    <div id="uniqueVisits"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="plugins/apex/apexcharts.min.js"></script>
<script src="/js/forYear.js"></script>
