<link href="/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
{{!-- <link href="assets/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" /> --}}

<div class="container">
    <div class="row layout-top-spacing">
{{!-- 
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-account-invoice-one">

                <div class="widget-heading">
                    <h5 class="">Resumen: transacciones</h5>
                </div>

                <div class="widget-content">
                    <div class="invoice-box">
                    
                        <div class="inv-detail">                                        
                            <div class="info-detail-1">
                                <p>total</p>
                                <p>{{transactionCount}}</p>
                            </div>
                            <div class="info-detail-2">
                                <p>ingreso</p>
                                <p>{{ingresoCount}}</p>
                            </div>
                            <div class="info-detail-2">
                                <p>egreso</p>
                                <p>{{egresoCount}}</p>
                            </div>
                        </div>

                        <div class="inv-action">
                            <a href="/" class="btn btn-dark">Ver transacciones</a>
                        </div>
                    </div>
                </div>

            </div>
        </div> --}}

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-table-one">
                <div class="widget-heading">
                    <h5 class="">Eventos ({{eventsStatus.all}})</h5>
                </div>

                <div class="widget-content">
                    {{#Dashboard1 "Recibidos" eventsStatus.recibido}}
                        {{this}}
                    {{/Dashboard1}}
                    {{#Dashboard1 "Aprovados" eventsStatus.aprovado}}
                        {{this}}
                    {{/Dashboard1}}
                    {{#Dashboard1 "Cancelados" eventsStatus.cancelado}}
                        {{this}}
                    {{/Dashboard1}}
                    {{#Dashboard1 "Finalizados" eventsStatus.finalizado}}
                        {{this}}
                    {{/Dashboard1}}
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-chart-three">
                <div class="widget-heading">
                    <div class="">
                        <h5 class="">Estadisticas eventos</h5>
                    </div>

                    <div class="" id="form-for-year">
                        <select id="select-year-search" class="form-control  basic"></select>
                    </div>

                    {{!-- <div class="dropdown  custom-dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="uniqueVisitors" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="uniqueVisitors">
                            <a class="dropdown-item" href="javascript:void(0);">View</a>
                            <a class="dropdown-item" href="javascript:void(0);">Update</a>
                            <a class="dropdown-item" href="javascript:void(0);">Download</a>
                        </div>
                    </div> --}}
                </div>
                <div class="widget-content">
                    <div id="uniqueVisits"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="plugins/apex/apexcharts.min.js"></script>
<script src="/js/forYear.js"></script>
