
<div class="grid grid-cols-1 lg:grid-cols-2 px-5 lg:px-10 gap-5">
    <section>
        <div class="relative h-[auto] flex flex-col items-center rounded-[20px] bg-white w-full pb-4">
            <div class="w-full">
                <img src="/teatro.jpg" class="h-[170px] w-full object-cover rounded-t-[20px]" />
            </div>
            <div class="absolute rounded-full w-[180px] p-2 bg-white">
                <img src="/{{user.photo_id}}" class="w-full rounded-full" />
            </div>
            <div class="font-bold text-[19px] text-gray-700 mt-16">{{user.username}}</div>
            <div class="font-light text-[15px] text-gray-500">{{user.email}}</div>
            <div class="font-light text-[12px] text-gray-500">ID: <span class="font-bold">{{user._id}}</span></div>
            <div class="font-light grid text-[10px] px-5 mt-5 text-gray-500">
                <span class="font-bold text-center">fecha de creación:</span>
                {{user.create_at}}
            </div>
            <div class="font-light grid text-[10px] px-5 text-gray-500">
                <span class="font-bold text-center">ultima actialización:</span>
                {{user.update_at}}
            </div>
        </div>
    </section>

    <section class="">
        <details title="" name="update-region" class="text-lg font-light bg-gray-100 rounded-md px-7 py-2 mb-3">
            <summary>Actualizar Datos</summary>
            <form method="POST" action="/user/update/{{user._id}}/data">
                <div class="grid place-items-center mt-5">
                    <label class="block text-gray-800 font-semibold text-sm">Nombre de Usuario</label>
                    <div class="mt-2">
                        <input
                            type="text"
                            value="{{user.username}}"
                            placeholder="example000"
                            name="username"
                            class="block w-80 rounded-md py-1.5 px-2 ring-1 ring-inset ring-gray-400 focus:text-gray-800"
                        />
                    </div>
                    <label class="pt-1 block text-gray-500 text-sm">nombre de usuario</label>
                </div>

                <div class="grid place-items-center mt-5">
                    <label class="block text-gray-800 font-semibold text-sm">Correo Electrónico</label
                    >
                    <div class="mt-2">
                        <input
                            type="email"
                            placeholder="example@example.com"
                            name="email"
                            value="{{user.email}}"
                            class="block w-80 rounded-md py-1.5 px-2 ring-1 ring-inset ring-gray-400 focus:text-gray-800"
                        />
                    </div>
                    <label class="pt-1 block text-gray-500 text-sm">correo electrónico válido</label>
                </div>

                {{> inputSubmit}}
            </form>
        </details>

        <details title="" name="update-region" class="text-lg font-light bg-gray-100 rounded-md px-7 py-2 mb-3">
            <summary>Actualizar Contraseña</summary>
            <form action="/user/update/{{user._id}}/password" method="POST">
                <div class="grid place-items-center mt-5">
                        <label class="block text-gray-800 font-semibold text-sm">Contraseña actual</label>
                        <div class="mt-2">
                            <input
                                type="password"
                                name="old"
                                class="block w-80 rounded-md py-1.5 px-2 ring-1 ring-inset ring-gray-400 focus:text-gray-800"
                            />
                        </div>
                    </div>
                <div class="grid place-items-center mt-5">
                    <label class="block text-gray-800 font-semibold text-sm">Nueva contraseña</label>
                    <div class="mt-2">
                        <input
                            type="password"
                            name="password"
                            class="block w-80 rounded-md py-1.5 px-2 ring-1 ring-inset ring-gray-400 focus:text-gray-800"
                        />
                    </div>
                </div>

                <div class="grid place-items-center mt-5">
                    <label class="block text-gray-800 font-semibold text-sm">Repetir Contraseña</label
                    >
                    <div class="mt-2">
                        <input
                            type="password"
                            name="repeat"
                            class="block w-80 rounded-md py-1.5 px-2 ring-1 ring-inset ring-gray-400 focus:text-gray-800"
                        />
                    </div>
                </div>

                <input type="hidden" value="{{user.password}}" name="oldSave" />
                {{> inputSubmit}}
                    
            </form>
        </details>

        <details name="update-region" class="text-lg font-light bg-gray-100 rounded-md px-7 py-2 mb-3 cursor-not-allowed">
            <summary>Actualizar Avatar</summary>
            

        </details>
    </section>
</div>
