
<div class="flex flex-col">
    <section class="flex justify-between items-center px-5 lg:px-10">
        <div class="flex gap-3 items-start">
            <h2 class="text-xl font-light text-gray-700">Usuarios</h2>
            {{#if count}}
                <span class="font-extrabold text-md -top-2 relative">({{count}})</span>
            {{/if}}
        </div>
        <a href="/user/new" class="px-6 py-2 rounded-md bg-amber-400 hover:bg-amber-500 font-bold">crear</a>
    </section>

    {{#if users}}
        <table class="table mx-10 mt-5">
            <thead class="bg-red-800">
                <tr class="">
                    <td class="text-center py-2 text-md font-bold text-gray-100">#</td>
                    <td class="text-center py-2 text-md font-bold text-gray-100">usuario</td>
                    <td class="text-center py-2 text-md font-bold text-gray-100">correo</td>
                    <td class="text-center py-2 text-md font-bold text-gray-100"></td>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                    <tr class="group bg-red-50 border border-red-700">
                        <td class="group-hover:bg-red-100 group-hover:text-black text-center text-xs font-light text-gray-900">{{this.id}}</td>
                        <td class="group-hover:bg-red-100 group-hover:text-black text-center text-xs font-light text-gray-900">{{this.username}}</td>
                        <td class="group-hover:bg-red-100 group-hover:text-black text-center text-xs font-light text-gray-900">{{this.email}}</td>
                        <td class="flex group-hover:bg-red-100 group-hover:text-white text-center">
                            <form method="POST" action="/user/update/{{this.id}}/delete">
                                <button type="submit" class="text-gray-700 font-bold hover:text-gray-100 duration-200 border-none bg-red-400 hover:bg-red-700 px-5 py-2 rounded-l-lg">
                                    <img src="/ico/user-delete.svg" class="w-3" />
                                </button>    
                            </form>
                            <a href="/user/{{this.id}}" class="text-gray-700 font-bold hover:text-gray-100 duration-200 border-none bg-indigo-400 hover:bg-indigo-700 px-5 py-2 rounded-r-lg">
                                <img src="/ico/usuario.svg" class="w-3" />
                            </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>            
        </table>
    {{else}}
        <section class="px-10 font-light text-lg  text-gray-700">
            No hay usuarios
        </section>
    {{/if}}

</div>
